.area{
	padding:20px;
	font: 20px 'Josefin Sans', sans-serif;
	color:white;
	width: 600px;
	height: 300px;
	background: #17BDFF;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
button{
	color:white;
	border:none;
	height:55px;
	width:100px;
	background:#5399FF;
	border-radius: 20px;
	transition: all, 1s;
	-webkit-transition: all, 1s;
}

button:hover{
	background:#55667F;
	border-radius: 5px;
}
